td {
    height: 50px;
    width: 50px;
		border: 1px solid #555;
		text-align: center;
		color: #555;
		font-family: sans-serif;
		position: relative;
		
}

td::after {
	content: attr(data-index);
	position: absolute;
	top: 2px;
	right: 2px;
	font-size: 10px;
	color: #ccc;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}